<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Eshop</title>

  <style>
  .navbar{
      background-color: green;
    }
    .one-edge-shadow {
              box-shadow: 0 8px 2px -5px rgb(246, 245, 245);
}
.display-8{
  font-weight: 200;
  font-size: 30px;
  font-colour: $teal-200;
  font-weight: bold;
}
.navbar-brand {
  font-colour: $teal-200;
}

  </style>
</head>

<body>

  <!-- navbar -->

<nav class="one-edge-shadow navbar navbar-light sticky-top navbar navbar-expand-lg text-white">
    {% if request.session.user_type == 'buyer' %}
    <a class="navbar-brand ms-3 text-dark " href="/"> 
 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png" 
    style="width:50px;height:50px,color:text-light;">E-Commerce</a>

    {% else %}
    
    <a class="navbar-brand ms-3 text-dark " href="{% url 'seller_dashboard' %}"> 
 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png" 
    style="width:50px;height:50px,color:text-light;">E-Commerce</a>

    {% endif %}




    <!-- toggle for mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if request.session.user_type != 'seller' %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
            </li>
          {% endif %}

        {% if request.session.user_type == 'seller' %}
        
          <li class="nav-item active ">
            <a class="nav-link" href="{% url 'add_product' %}">Add products<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="{% url 'manage_orders' %}">Orders<span class="sr-only">(current)</span></a>
          </li>
        {% endif %}



      </ul>

      <!-- search bar -->
        <form method="GET" action="/" class="form-inline mx-auto" style="width:40%;">
          <input 
            type="text"
            name="search"
            class="form-control w-75 mr-2"
            placeholder="Search products..."
            value="{{ request.GET.search }}">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        
      <ul class=" navbar-nav my-2 my-lg-0">
        {% if not request.session.user_type or request.session.user_type == 'buyer' %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'cart' %}">Cart 
              <span class="badge badge-success">{{request.session.cart.keys|length}}</span>
              <span class="sr-only">(current)</span></a>
          </li>
        {% endif %}
   

        {% if request.session.customer %}
          
          {% if request.session.user_type != 'seller' %}
        
            <li class="nav-item active ">
              <a class="nav-link" href="{% url 'orders' %}">Orders<span class="sr-only">(current)</span></a>
            </li>
          {% endif %}
        <li class="nav-item active ">
          <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
       
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'signup' %}">Signup<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}


      </ul>


    </div>
    
  </nav>
  <!---->
  {% block content %}{% endblock %}

  
</body>
<!-- jQuery and Bootstrap JS (for modal functionality) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</html>

